.main-wrapper {
    padding-top: calc(var(--header-height) + 1rem);
    padding-left: calc(var(--nav-width) + 1rem);
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 100vw;
    min-height: 100vh;
    display: flex;
}