.data-table {
    border-collapse: collapse;
    width: 100%;
    font-size: .9rem;
    margin-top: .5rem;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    th, td {
        text-align: left;
    }
    thead {
        background-color: var(--secondary-blue);
        th {
            padding: .8rem 4px;
            color: #fff;
            font-weight: 500;
        } 
    }

    tbody {
        tr{
            border-bottom: 1px solid var(--border-color);
            td {
                margin: 0;
                padding: 1rem .5rem;
                font-weight: 500;
                font-weight: bold;
                color: var(--text-secondary-blue);
                .full-name {
                    color: var(--secondary-blue);
                }
                .email {
                    font-size: .85rem;
                    color: var(--text-secondary-alt);
                    font-weight: normal;
                    margin-top: 5px;
                }
            }
            &:nth-child(even){
                background-color: var(--background);
            }
        }
    }
    .action-buttons {
        font-size: .8rem;
        padding: .5rem .7rem;
    }
    
}